.places__paragraph{
    padding-top: 5%;
   max-width: 500px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;  
}