.places__paragraph{
    padding-top: 5%;
    max-width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
  
}

@media screen and (max-width: 1120px){
    .places__paragraph{
        max-width: 456px;
    }
}

@media screen and (max-width: 860px){
    .places__paragraph{
        max-width: 352px;
        line-height: 26.08px;
        font-size: 16px;
    }  
}


@media screen and (max-width: 425px){
    .places__paragraph{
        max-width: 288px;
        font-size: 16px; 
    }
}
