.main__title{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    margin: 100px;
    text-align: center;
    padding-top: 127px;
}


@media screen and (max-width: 425px) {
.main__title{
    margin: 0 auto;
    font-size: 40px;
    max-width: 288px;
    line-height: 44px;
    padding-bottom: 16px;
    padding-top: 50px;
    }
}