.photo-grid{
    max-width: 1184px;
    display: grid;
    grid-template-columns: 284px 284px 284px 284px; 
    grid-gap: 16px;  
    padding-left: 50px 
    
}

@media screen and (max-width: 1120px) {
    .photo-grid{
        
        display: grid;
        grid-template-columns: 300px 300px 300px; 
        grid-template-rows: 225px 225px 225px 225px;
        grid-gap: 14px; 
        padding-left: 50px;  
        max-width: 928px;        
    }
}

@media screen and (max-width: 860px) {
    .photo-grid{
        display: grid;
        grid-template-columns: 309px 309px; 
        grid-template-rows: 220px 220px 220px 220px 220px 220px;    
           
    }
}

@media screen and (max-width: 425px){
    .photo-grid{
    display: block; 
    }
}