.main__image { 
    max-width: 984px;
    max-height: 615px;  
    margin-left: 165px;
}

@media screen and (max-width: 1120px){
    .main__image {
       height: 525px;
       width: 928px;
       margin-left: 100px;
    }
 }

  
 @media screen and (max-width: 860px){
    .main__image {
         height: 375px;
         width: 768px;
         margin-left: 50px;
     }
 }

 @media screen and (max-width: 425px){
    .main__image {
       height: 180px;
       width: 320px;
      
    }
}