.main__image { 
    max-width: 1180px;
    max-height: 615px;  
}

@media screen and (max-width: 1120px){
    .main__image {
       height: 525px;
    }
 }

  
 @media screen and (max-width: 860px){
    .main__image {
         height: 375px;
         margin-left: 125px;
     }
 }

 @media screen and (max-width: 425px){
    .main__image {
       height: 180px;
       margin-left: 15px;
    }
}