.places{ 
    max-width: 984px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

@media screen and (max-width: 1120px){
    .places{
        padding-left: 0;
        }
 }

 @media screen and (max-width: 425px){
    flex-direction: column;
    width: 100%;
    margin: 60px auto;
    row-gap: 50px;
 }
