.places{ 
    max-width: 984px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-left: 100px;
}

@media screen and (max-width: 1120px){
    .places{
        padding-left: 0;
        }
 }

 @media screen and (max-width: 425px){
    .places {
        margin-top: 64px;
        margin-left: 0; 
     }
 }
