

.photo-grid__item{
    height: 213px;
    max-width: 288px;
    object-fit: cover; 
}

@media screen and (max-width: 1120px){
    .photo-grid__item{
       max-width: 300px;
       height: 225px;
    }
}


@media screen and (max-width: 860px){


    .photo-grid__item{
        width: 352px;
    }
}

@media screen and (max-width: 425px){
    .photo-grid__item{
       min-width: 288px;
       height: 216px;
    }
}