.intro__subtext{
    font-size: 16px;
    line-height: 26.08px;
    max-width: 690px;  
    margin: 0px;
}




@media screen and (max-width: 860px){
    .intro__subtext{
        margin-left: 0;
    }
}


@media screen and (max-width: 425px){
    .intro__subtext{
       line-height: 20px;
    }
}