
.place{ 
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: auto auto;
    grid-column-gap: 40px;
}

@media screen and (max-width: 860px){
    .place{ 
        grid-column-gap: 28px;
    }
}

 @media screen and (max-width: 425px){
    .place{
        grid-template-columns: 1fr;
        row-gap: normal;
        margin: 0 12px 12px;
    }
 }





