
.place{ 
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: 440px 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 40px;
}

@media screen and (max-width: 860px){
    .place{ 
        grid-column-gap: 0px;
    }
}

 @media screen and (max-width: 425px){
    .place{
        grid-template-columns: 1fr;
        row-gap: normal;
    }
 }





