.page__container{
   max-width: 1184px;
    margin: 0 auto; 
}

@media screen and (max-width: 1120px){
    .page__container{
        max-width: 928px;
    }
}

@media screen and (max-width: 860px){
    .page__container{
        max-width: 768px;
    }
    
}


@media screen and (max-width: 425px){
    .page__container{
        max-width: 320px;
       
    }
}