.page__container{
    max-width: 1184px;
    margin: 0 auto; 
    padding: 0 auto;
}

@media screen and (max-width: 1120px){
    .page__container{
        max-width: 1024px;
    }
}

@media screen and (max-width: 425px){
    .page__container{
        margin: 0;
    }
}